# Staging Infrastructure (Mocked)
MOUNT_USB_DRIVE=/media/usb-media/staging
PUID=1000
PGID=1000

# Networking (MACVLAN / Virtual IP)
STAGING_IP=192.168.1.50
STAGING_GATEWAY=192.168.1.1
STAGING_SUBNET=192.168.1.0/24
STAGING_INTERFACE=eth0 # The physical interface to bind the macvlan to

# Service Configs
YUBAL_SCHEDULER_CRON=0 0 * * *
YUBAL_DOWNLOAD_UGC=false
YUBAL_TZ=UTC

# Config Dirs (Inside Simulated SSD)
HASS_CONFIG_DIR=/media/usb-media/staging/config/homeassistant
ESPHOME_CONFIG_DIR=/media/usb-media/staging/config/esphome
