# Infrastructure
MOUNT_USB_DRIVE=/media/usb-media
PUID=1000
PGID=1000
YUBAL_TZ=UTC

# Service Ports
NAVIDROME_PORT=4533
YUBAL_PORT=4000

# Service Configs
YUBAL_SCHEDULER_CRON=0 0 * * *
YUBAL_DOWNLOAD_UGC=false
