# Infrastructure
MOUNT_USB_DRIVE=/media/usb-media
DEPLOY_PATH=/home/cristian/music-stack
PUID=1000
PGID=1000

# Service Configs (Navidrome, Yubal, etc.)
NAVIDROME_PORT=4533
YUBAL_PORT=4000
YUBAL_SCHEDULER_CRON=0 0 * * *
YUBAL_DOWNLOAD_UGC=false
YUBAL_TZ=UTC
