# Home Assistance Dev Environment
MOUNT_USB_DRIVE=/tmp/homeServerPi-dev
HASS_CONFIG_DIR=${MOUNT_USB_DRIVE}/config/homeassistant
ESPHOME_CONFIG_DIR=${MOUNT_USB_DRIVE}/config/esphome
PUID=1000
PGID=1000
